{% extends 'base.html' %}

{% block title %}Editar Película{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card shadow-lg p-4">

    <h2 class="text-center mb-4 fw-bold text-primary">Editar Película</h2>

    <form method="POST">
      <div class="mb-3">
        <label for="codigo" class="form-label">Código</label>
        <input type="text" name="codigo" class="form-control" value="{{ pelicula.codigo }}" required>
      </div>

      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" name="titulo" class="form-control" value="{{ pelicula.titulo }}" required>
      </div>

      <div class="mb-3">
        <label for="protagonista" class="form-label">Protagonista</label>
        <input type="text" name="protagonista" class="form-control" value="{{ pelicula.protagonista }}" required>
      </div>

      <div class="mb-3">
        <label for="duracion" class="form-label">Duración</label>
        <input type="text" name="duracion" class="form-control" value="{{ pelicula.duracion }}" required>
      </div>

      <div class="mb-3">
        <label for="resumen" class="form-label">Resumen</label>
        <input type="text" name="resumen" class="form-control" value="{{ pelicula.resumen }}" required>
      </div>

      <div class="mb-3">
        <label for="foto" class="form-label">Foto</label>
        <input type="text" name="foto" class="form-control" value="{{ pelicula.foto }}" required>
      </div>

      <div class="mb-3">
        <label for="genero" class="form-label">Género</label>
        <select class="form-select" id="genero" name="genero" required>
          <option value="" selected>Selecciona un Género</option>
          {% for genero in generos %}
            <option value="{{ genero.id }}">{{ genero.nombre }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success w-45">Actualizar Película</button>
        <a href="{{ url_for('listGenero') }}" class="btn btn-danger w-45">Cancelar</a>
      </div>
    </form>

    <script>
      document.getElementById('genero').value = "{{ pelicula.genero.id }}";
    </script>

  </div>
</div>

{% endblock %}
